<div class="advanced">
	<h4 id="advanced_options_slidetoggle" class="slidetoggle"><a href="#">Advanced Options</a></h4>
	<div class="slidecontainer" style="display:none">
		<span class="hint advanced"><!-- Because you know you want to. --></span>
		<br/>
		<% if event_meta.closed? %>
		<br/><span class="hint advanced">Event has closed, can't edit advanced options.</span>
		<% else %>
			<% if not event_meta.allow_comments? %>
			<label for="description">
				Would you like to leave a comment?<br />
				<span class="hint">Post the first comment to share more details or lobby for a day</span>
			</label>
			<%= text_area 'event_meta', 'description', :class => 'invitees', :tabindex => 10, :rows => 6, :cols => 50 %>
			<br/>
			<% end %>
			<%= check_box 'event_meta', 'send_auto_reminder?', :class => 'checkbox' %>
			<span class="advancedoptiontext">
				Send a reminder <%= select 'event_meta','auto_reminder_days', options_for_select(1..5, event_meta.auto_reminder_days), :class => 'dayCountDropDown' %> days before event
			</span>
			<br/>
			<%= check_box 'event_meta', 'allow_forwarding?', :class => 'checkbox' %>
			<span class="advancedoptiontext">Guests can invite other guests</span>
			<br/>
			<%= check_box 'event_meta', 'require_minimum?', :class => 'checkbox' %>
			<span class="advancedoptiontext">
				Cancel if less than <%= select 'event_meta', 'minimum_positive_votes', options_for_select(1..5, event_meta.minimum_positive_votes), :class => 'dayCountDropDown' %> can attend.
			</span>
			<br/>
			<%= check_box 'event_meta', 'cutoff_voting?', :class => 'checkbox' %>
			<span class="advancedoptiontext">
				Auto-select winner in <%= select 'event_meta','voting_cutoff_days', options_for_select(1..5, event_meta.voting_cutoff_days), :class => 'dayCountDropDown' %> days
			</span><br/>
			<%= check_box 'event_meta', 'organizer_required?', :class => 'checkbox' %>
			<span class="advancedoptiontext">Disable days the organizer votes against</span>
			<br/>
		<% end %>
	</div>
</div>